<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
       
    <link rel="stylesheet" href="../assets/css/register.css">
</head>

<body>
    <section>
        <h3>Create New Account</h3>
        <div class="input-group">
            <input type="text" placeholder="User Name" required id="user-name">
            <input type="email" placeholder="Enter Email Address" required id="email">
            <input type="text" name="" id="" placeholder="Phone" required id="phone">
            <input type="text" placeholder="Address" id="address">
            <input type="password" placeholder="Password" id="password">
            <input type="password" placeholder="Confirm Password" id="confirm-password">


        </div>
        <div class="btn-group">
            <button class="login-btn" id="register-btn" type="submit">Register</button>
            <button class="forgot-btn" id="forgot-btn">I already hava an account</button>
            <label for="">
                Registration Successfull
            </label>
        </div>


    </section>




    <script src="../assets/js/script.js"></script>
</body>

</html>